Background: We are researching how people communicate when they have problems.

Prompt:
- Imagine you live in <%= location %>
<% forEach(problems, function(p) { %>- Imagine <%= p %>
<% }); %>

Response:
- Using the internet, make a list of the <%= magnitude %> most relevant government officials you would contact to send a complaint.
- Include their name and email.
