Background: We are researching how people communicate when they have problems.

Prompt:
- Imagine you live in <%= scenario.location %>
<% forEach(scenario.problems, function(p) { %>- Imagine <%= p %>
<% }); %>

Response:
- Write an email convincing an imaginary official to fix this problem.
- Sign the email with the name "YYY TTT"
- Address the email to "XXX ZZZ"
- Use at least <%= options.wordCount %> words
