Background: We are researching how people communicate with the media.

Prompt:
- Imagine you live in <%= location %>
<% forEach(problems, function(p) { %>- Imagine <%= p %>
<% }); %>

Response:
- Using the internet, make a list of the <%= magnitude %> most relevant people in the media you would contact to cover this as a story.
- Include their name and email.
