Background: We are researching how people communicate with the media.

Prompt:
- Imagine you live in <%- location %>

<% _.forEach(problems, function(p) { %> - <%- p %>\r\n<% }); %>


Response:
- Write an email convincing an imaginary journalist to cover this story.
- Sign the email with the name "YYY TTT"
- Address the email to "XXX ZZZ"
